/* -------------------------------- */
.container-detail {
    background-color: #020d18;
    color: #fff;
    padding: 60px 0;
}

.detail-list-film {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.detail-list-film img {
    width: 220px;
    height: 340px;
}

.detail-title {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 25px;
}

.detail-rating {
    color: #abb7c4;
    border-top: 1px solid #405266;
    border-bottom: 1px solid #405266;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.detail-rating-left {
    display: flex;
    align-items: center;
}

.detail-rating-left i {
    color: #dcf836;
    font-size: 32px;
}

.detail-rating-index {
    font-size: 11px;
    line-height: 24px;
    margin-left: 10px;
}

.detail-rating-index span {
    color: #fff;
}

.detail-rating-rv {
    color: #4280bf;
    font-size: 12px;
    margin-bottom: 0;
}

.detail-rating-right {
    border-left: 1px solid #405266;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 30px;
    padding-left: 30px;
    line-height: 54px;
}

.detail-rating-right span {
    font-size: 18px;
    margin-right: 15px;
    margin-bottom: 0;
}

.detail-rating-right i {
    font-size: 32px;
    margin-right: 4px;
}

.detail-rating-right .fa-star {
    color: #dcf836;
}

.detail-action {
    color: #abb7c4;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.detail-action-item {
    margin-right: 25px;
    color: #dd003f !important;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.detail-action-item i {
    border: 1px solid #dd003f;
    text-align: center;
    width: 42px;
    height: 42px;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.detail-info {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #abb7c4;
}

.detail-info li {
    margin-bottom: 8px;
}

.detail-info span {
    color: #4280bf;
}

.detail-desc {
    margin-top: 50px;
    color: #abb7c4;
}

.heading-left {
    color: #abb7c4;
    padding-bottom: 15px;
    margin-bottom: 25px;
    position: relative;
}

.heading-left::before {
    background-color: var(--colorThird);
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 80px;
    border-radius: 3px;
}

.comment {
    color: #abb7c4;
}

.comment-textarea textarea {
    max-width: 100%;
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
}

textarea {
    overflow: auto;
    resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.comment-rating {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-rating i.active {
    color: #dcf836;
}

.comment-rating i {
    font-size: 20px;
    margin-left: 4px;
}

.comment-button {
    background-color: #dd003f;
    color: #fff;
    font-weight: 600;
    padding: 9px 25px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.comment-list {
    margin-top: 30px;
}

.heading-left {
    color: #abb7c4;
    padding-bottom: 15px;
    margin-bottom: 25px;
    position: relative;
}

.heading-left::before {
    background-color: #dd003f;
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 80px;
    border-radius: 3px;
}

.comment-list-title {
    font-weight: 600;
    font-size: 16px;
}

.comment-list-star i.active {
    color: #dcf836;
}

.comment-list-star i {
    margin-left: 4px;
}

.comment-list-content {
    background-color: #233a50;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 25px;
    border-radius: 4px;
}

/* ---------------------- */
.right-list-movie .film {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.right-list-movie .film-image {
    width: 80px;
    height: 80px;
}

.right-list-movie .film-image::before {
    display: none;
}

.right-list-movie .film-image img {
    width: 100%;
    height: auto;
}

.right-list-movie .film-description {
    position: relative;
    left: 0;
    bottom: 0;
    height: 120px;
    margin-left: 20px;
    width: 60%;
    height: 110px;
}

.right-list-movie .film-description p {
    color: #abb7c4;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    height: 80%;
    width: 100%;
}

.right-list-movie .film-description h2 {
    font-weight: 500;
    font-size: 18px;
    color: #dcf836;
}

.right-list-movie .detail-scmovie {
    margin-bottom: 60px;
}

.film-link {
    text-decoration: none;
}
